/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --main-color: rgb(213, 222, 176);
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
    max-height: 250px;
    max-width: 200px;
    border-radius: 50%;
  }

  .content {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    position: relative;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  body {
    background: radial-gradient(rgb(70 9 9), rgb(27 7 7));
    padding: 5px 30px;
    color: white;
    min-height: 100vh;
    font-family: 'Kalam', cursive;
  }

  input {
    background: #420f0f;
    border-radius: 20px;
    
  }
  .button {
    background: linear-gradient(rgb(27 41 48 / 26%),rgb(5 2 2 / 40%));
    font-family: 'Abel', sans-serif;
    border-top: 2px solid rgb(244, 255, 27);
    border-left: 2px solid rgb(226, 135, 25);
  }

  .button:hover {
    background: linear-gradient(rgb(208 218 54 / 45%),rgb(243 113 8 / 69%));
    box-shadow: -2px -2px 2px rgb(211, 211, 126);
  }

  input, .button {
    padding: 0 15px;
    height: 2rem;
    color: white;
    border-radius: 20px;
  }
  .content {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
    font-family: 'Abel', sans-serif;
    border-radius: 25px;
    padding: 15px;
  }
  .content-background {
    background: rgba(245, 245, 245, 0.211);
  }
  h1 {
    margin-top: 5%;
  }

  h2, h3 {
    padding: 0 0 15px 0;
  } 
  h2,h3 {
    font-family: 'Kalam', cursive;

  }
  p, li {
    padding-left: 20px;
  }

  /* buttons */
  .btn {
    position: absolute;
    color: white;
    font-size: 3.5rem;
    background: none;
    border: none;
    border-radius: 50%;
    box-shadow: 5px 10px 20px  black;
  }
  .btn:hover {
    color: rgb(203, 203, 22);
  }
  .btn-prev:hover {
    color: rgb(226, 135, 25);
  }

  .btn-next {
    top: 30px;
    right: -55px;
  }
  button.btn-prev {
    top: 30px;
    left: -55px;
  }



  /* col-3 */
  h2,h3 {
    color: var(--main-color);
  }
  ul {
    text-align: left;
    list-style: none;
    padding: 0;
  }
  

  .hidden{
    display: none;
  }
  

  /* media queries */
@media screen and (max-width: 700px) {

  .content {
    grid-template-columns: 100%;
  }
}